<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" media="screen" href = "./static/bootstrap-theme.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>
        <!--<p>Romeo has already been fed!</p>-->
        <!--<p>He'll try to convince you he hasn't...</p>-->
        <!--<p>Don't trust him!</p>-->
        Romeo has already been fed!
        <br>
        He'll try to convince you he hasn't...
        <br>
        Don't trust him!
    </h1>

    <h2>^^</h2>
    {% if giphy%}
    <iframe src={{giphy}} frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    {% endif %}
</body>
</html>