<!DOCTYPE html>
<html lang="en">
<head><link rel="stylesheet" href='/static/style1.css' /></head>
<body>
    <h1>Romeo has not been fed yet...</h1>
    <iframe src="//giphy.com/embed/hPBz1iI1MP4zK" width="480" height="358" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/lol-standing-eats-hPBz1iI1MP4zK">via GIPHY</a></p>
    <h1>Have you fed Romeo?</h1>
    <form action="./romeo" method="POST">
        <input id="yesbutton" type="submit" name="yes-button" value="Yes">
    </form>
</body>
</html>